<div class="col-md-6">

<div class="panel panel-primary">
    <div class="panel-heading">{{=title}}</div>
    <div class="panel-body">
      {{=form}}
    </div>
    <!--<div class="panel-footer"></div>-->
  </div>

</div>

<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-heading">Watch</div>
    <div class="panel-body">
    <!--<textarea rows="6" cols="64"></textarea>-->
    <br>
    <br>

    </div>
    <input class="btn btn-warning" type="button" value="Refresh" onclick="refreshWatch()">
      <table class="table table-bordered" id="chaintablewatch">
      <tr class="info"><td>Link</td><td>Cross</td><td>Vertical</td><td>Plint</td><td>Pair</td></tr>
      </table>
  </div>
</div>


{{block page_js}}
  <script>
    chainCtrl();
  </script>
{{end page_js}}
