{{extend 'layout.html'}}
<div class="col-md-6">

<div class="panel panel-primary">
    <div class="panel-heading">{{=title}}</div>
    <div class="panel-body">
      {{=form}}
    </div>
    <!--<div class="panel-footer"></div>-->
  </div>

</div>

  <div class="col-md-5">
Value = {?selectedItem?}
<input ng-model="selectedItem"></input>
<input ng-model="chain[0].crossId"></input>
<p>cross<input ng-model="chain[0].crossPos"></input>
<p>vert<input ng-model="chain[0].verticalPos"></input>
<p>plint<input ng-model="chain[0].plintPos"></input>
<p>pair<input ng-model="chain[0].pairPos"></input>

  <select ng-model="selectedItem" class="form-control">
  <option ng-repeat="item in qwe2" value={?$index?}>{?item[0]?}</option>
  </select>

  <div class="panel panel-default">
    <div class="panel-heading">$scope.chain</div>
    <div class="panel-body">
    <textarea rows="6" cols="64">
    {?chain?}
    </textarea>
    <br>Cross change: {?crosschangecount?}
    <br>Verti change: {?vertichangecount?}
    </div>
      <table class="table table-bordered">
      <tr class="info"><td></td>Link<td>Cross</td><td>Vertical</td><td>Plint</td><td>Pair</td></tr>
      <tr ng-repeat="link in chain">
        <td class="warning">{?$index?}</td>
        <td>{?crosses[link.crossPos][1]?} ({?link.crossId?}L)</td>
        <td>{?verticals[link.crossId][link.verticalPos][1]?} ({?link.verticalId?}L)</td>
        <td>{?plints[link.verticalId][link.plintPos][1]?} ({?link.plintId?}L)</td>
        <td>start {?plints[link.verticalId][link.plintPos][2]?}</td>
      </tr>
      </table>
  </div>
</div>
