{{extend 'layout.html'}}
<table class="cross">
<!--   <col span="10" class="coln"> -->
  {{for plint in plints:
      dx = 1 if plint.numeration_start_1 else 0
      comefrom = get_plint_outside_info(plint)
      s1 = 'Info: ' + plint.common_data
      plintdata = '%s\n%s\n%s %s\n%s\n%s' % (plint.title, plint.modified_on, plint.modified_by.first_name, plint.modified_by.last_name, s1, comefrom['title'])}}
    <tr>
      <td class="colv1"><a href="{{=URL('plintmod', args = [plint.id])}}" title="{{=plintdata}}">{{=plint.title}}</a></td>
      {{for i in range(10):
        z = str(i)
        pairtitle = plint('pair_id_' + z)
        start = i + dx
        pair_loop = 'loop' if plint('loopback_id_' + z) else 'noloop'}}
        <td class="{{=pair_loop}}">
        {{if pairtitle == '':}}
          <a href="{{=URL('pairmod', args = [plint.id, i])}}"><sup>{{=start}}&nbsp;&nbsp;</sup></a>
        {{else:
          when = plint('modified_on_id_' + z)
          who_id = plint('modified_by_id_' + z)
          who = who_id.first_name + ' ' + who_id.last_name
          crossedto = get_pair_crossed_info(plint('crossed_to_plint_id_' + z), plint('crossed_to_pair_id_' + z))
          plintdata = '%s\n%s\n%s\n%s' % (pairtitle, who, when, crossedto[0])
        }}
            <a href="{{=URL('pairmod', args = [plint.id, i])}}" title="{{=plintdata}}"><sup>{{=start}}&nbsp;&nbsp;</sup>{{=pairtitle}}</a>
        {{pass}}
        </td>
      {{pass}}
      <td class="commondata" style="border-left: 2px solid #ccc;">
        {{=plint.common_data}}
      </td>
    </tr>
  {{pass}}
</table>
