<script type="text/html" id="liveSearchTmpl">
<% for(var ci in search ) { %>
  <a><%=search[ci]%></a>
<% } %>
</script>

<script type="text/html" id="btnOkCancelTmpl">
<div class="pull-right">
<input type="submit" class="btn btn-primary">
<button class="btn btn-primary" onclick="history.back();return false;"><%=L._CANCEL_%></button>
</div>
</script>

<script type="text/html" id="CrossTmpl">
<%for(var ci in crosses) {
var verticals = crosses[ci]["verticals"]; %>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading"><% print(A_Cross({crossId:ci, cross:crosses[ci].title})); %></div>
    <div class="panel-body">
      <%for( var cj in verticals ) print(A_Vertical({verticalId:cj, vertical:verticals[cj].title}, "mybtn-link"));%>
    </div>
  </div>
</div>
<%}%>
</script>

<script type="text/html" id="VerticalTmpl">
  <div class="panel panel-default">
    <div class="panel-heading"><%=header%><%=btnBack%>
      <%if (!news) {%>
        <div class="checkbox inmenu right">
          <label><input id="wraptext" type="checkbox" onclick="wrapToggle(this.checked)"><%=L._WRAP_%></label>
          <% print(CB_editChain());
             if ($Admin && verticalId) {%><a href="<%=web2spa.root_path%>backupvertical/<%=verticalId%>">Backup Vertical</a><%}%>
        </div>
      <%}%>
    </div>
    <table class="vertical table table-bordered table-striped"><tbody>
    <%  var mode = (news || !$userId) ? 'chain' : 'editpair';
        for( var ci in plints) {
        var plint = plints[ci];
        var pairs=plint.pairs, start1=parseInt(plint.start1), when=plint.modon, who=users[plint.modby];
        var _pattr = ' href="%seditplint/%s" title="Plint: %s\n%s\n%s\nCommon data: %s"'.format(web2spa.start_path, plint.id, plint.title, when, who, plint.comdata);
        %>
          <tr>
          <%if (search || news) { print(pairRow(plint, 2, true)); }%>
          <td class="colv1" style="border-right:2px solid #ddd;"><a <%=_pattr%> data-spa="1"><%=plint.title%></a></td>
          <%for( var cj in pairs ) {
                var idx = parseInt(cj);
                var pair = pairs[idx];
                var t = pair[0], found = '', _title = "";
                if (news) {
                    var pidx = pair[1]+1;
                    t = '%s, %s, %s %s, "%s"'.format(when, who, L._PAIR_, pair[1]+start1, t);
                }
                else {
                        var pidx = idx+1;
                        if (t) { _title = t+"\n"+pair[1]+"\n"+users[pair[2]];
                                if (t.indexOf(search) >= 0) found = ' class="found"';
                        }
                    }
                var _href = '%s%s/%s/%s'.format(web2spa.start_path, mode, plint.id, pidx);
            %>
          <td <%=found%>><a href='<%=_href%>' title="<%=_title%>" data-spa="1"><sup><%=idx+start1%></sup><%=t%></a></td>
          <% }
          if (!news) {
            t = plint.comdata, found = "commondata";
            if (t && search && t.indexOf(search) >= 0) found += " cdfound"; %>
            <td class="<%=found%>" style="border-left:2px solid #ddd;"><a <%=_pattr%> data-spa="1"><%=t%></a></td>
          <% }; %>
        </tr>
      <% }; %>
    </tbody></table>
  </div>
</script>

<script type="text/html" id="ChainTmpl">
<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading"><label><%=chain.title%></label><%=btnBack%>
        <div class="checkbox inmenu right"><% print(CB_editChain()); %></div>
    </div>
    <div class="panel-body">
      <p><i><%=chain.modinfo%></i></p>
    </div>
    <table class="table table-bordered table-condensed" style="display:normal">
        <tr class="info"><% for( var ci in tbheaders ) { print("<td>"+tbheaders[ci]+"</td>") } %><td><%=L._COMMON_DATA_%></td></tr>
        <% for( var ci in chain.chain ) {
            var link = chain.chain[ci];
            print(`<tr>${pairRow(link)}<td>${link.comdata}</td></tr>`);
            } %>
    </table>
    <div class="panel-footer"><div class="myright"><%=L._FOUND_%><%=chain.chain.length%></div></div>
  </div>
</div>
</script>

<script type="text/html" id="RestoreTmpl">
  <div class="container cont-mid">
    <div class="panel panel-warning">
      <div class="panel-heading"><%=title%><%=btnBack%></div>
      <div class="panel-body">
        <form class="form-horizontal" name="upload"><input type="file" id="upload" name="upload" required><br><%=btnOkCancel%></form>
      </div>
      <div class="panel-footer"><div class="myright">
        <i><output id="prop">Select file</output></i>
      </div></div>
    </div>
  </div>
</script>

<script type="text/html" id="EditCrossTmpl">
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading"><%=cross.header%><%=btnBack%></div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._TITLE_%></label>
          <div class="col-md-8"><input type="text" name="title" class="form-control" value="<%=cross.title%>" required></div>
        </div>
        <%if (!cross.new) {%>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-8"><label>
            <input name="delete" class="delete" type="checkbox"><%=L._DEL_%> <%=L._CROSS_%>
          </label></div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._VERT_T_%></label>
          <div class="col-md-8"><input type="text" name="verticaltitle" class="form-control"></div>
        </div>
        <%}%>
        <%=btnOkCancel%>
      </form>
    </div>
  </div>
</div>
</script>

<script type="text/html" id="EditVerticalTmpl">
<div class="col-md-5">
  <div class="panel panel-primary">
    <div class="panel-heading"><% print(A_Vertical(vertical,"color-root"), btnBack);%></div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._TITLE_%></label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="text" name="title" class="form-control" value="<%=vertical.vertical%>" required>
              <span class="input-group-btn"><button class="btn btn-default" type="button" title="<%=L._HELP_%>" onclick="commondataHelp()">?</button></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-8"><label>
            <input name="delete" class="delete" type="checkbox"><%=L._DEL_%> <%=L._VERTICAL_%>
          </label></div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._PLINT_T_%></label>
          <div class="col-md-3"><input name="plintmask" type="text" class="form-control" value="M%1"></div>
          <label class="col-md-2 control-label"><%=L._COUNT_%></label>
          <div class="col-md-3 numeric"><input type="number" min="0" max="100" name="count" class="form-control" value="0"></div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-8">
            <label><input name="start1" type="checkbox" checked><%=L._START_1_%></label>
            <label class="right"><input name="start1all" type="checkbox"><%=L._FOR_ALL_%></label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._PAIR_T_%></label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="text" name="pairmask" class="form-control" value="%0 %1">
              <span class="input-group-addon"><input type="checkbox" title="<%=L._EDITOR_%>" onchange="viewTextArea(this)"></span>
            </div>
          </div>
        </div>
        <textarea class="form-control pair-titles" wrap="off" rows="10" name="pairtitles" style="margin-bottom:15px;padding:8px;display:none;"></textarea>
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._COMMON_DATA_%></label>
          <div class="col-md-8"><input type="text" name="cdmask" class="form-control" value="%0 %1 %2 %3"></div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-8"><label>
            <input name="rcdreplace" type="checkbox" checked><%=L._REM_CD_%>
          </label></div>
        </div>
        <table id="chaintable">
          <tr>
          <td><%=tbheaders[0]%></td>
          <td><%=tbheaders[1]%></td>
          <td><%=tbheaders[2]%></td>
          </tr>
        </table>
        <%=btnOkCancel%>
      </form>
    </div>
  </div>
</div>
<div class="col-md-7">
  <div class="panel panel-default">
    <div class="panel-heading"><%=L._VERTICAL_%>: <b><span id="verttitle"><%=vertical.title%></span></b>
      <div class="radio inmenu right">
        <label class="inmenu"><input type="radio" name="view" value="comdata" checked><%=L._COMMON_DATA_%></label>
        <label><input type="radio" name="view" value="pairs"><%=L._PAIR_T_%></label>
      </div>
    </div>
    <div class="table-container">
    <table class="table table-bordered table-condensed" id="watchtable"><tr class="info"></tr></table>
    </div>
  </div>
</div>
</script>

<script type="text/html" id="EditPlintTmpl">
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading"><% print(A_Vertical(plint,"color-root"), btnBack);%></div>
    <div class="panel-body">
      <p><i><%=plint.modinfo%></i></p>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._TITLE_%></label>
          <div class="col-md-8"><input type="text" name="title" class="form-control" value="<%=plint.title%>" required></div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-8"><label>
            <input name="delete" class="delete" type="checkbox"><%=L._DEL_%> <%=L._PLINT_%>
          </label></div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-8">
            <label><input name="start1" type="checkbox" <%=plint.start1%>><%=L._START_1_%></label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._COMMON_DATA_%></label>
          <div class="col-md-8"><input type="text" name="comdata" class="form-control" value="<%=plint.comdata%>"></div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._PAIR_T_%></label>
          <div class="col-md-8">
            <div class="pair-ol"><ol start="0"><% for(var i=0; i<10; i++) print("<li></li>"); %></ol></div>
            <textarea class="form-control pair-titles" wrap="off" rows="10" name="pairtitles"><%=plint.pairtitles%></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-8">
            <label><input name="merge" type="checkbox"><%=L._MERGE_%></label>
            <div class="right"><input type="text" name="mergechar" class="form-control" disabled="off" placeholder="Enter char"></div>
          </div>
        </div>
        <%=btnOkCancel%>
      </form>
    </div>
  </div>
</div>
</script>

<script type="text/html" id="EditPairTmpl">
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading"><% print(A_Vertical(pair,"color-root"), btnBack);%></div>
    <div class="panel-body">
      <p><i><%=pair.modinfo%></i></p>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-2 control-label"><%=L._TITLE_%></label>
          <div class="col-md-8"><input type="text" name="title" class="form-control" value="<%=pair.title%>"></div>
        </div>
        <button type="button" class="btn btn-sm btn-success pull-right" title="<%=L._ADD_LINK_%>" onclick="addLink()">+</button>
        <table id="chaintable">
          <tr><% for( var ci in tbheaders ) { print("<td>"+tbheaders[ci]+"</td>") } %> </tr>
        </table>
        <%=btnOkCancel%>
      </form>
    </div>
  </div>
</div>
</script>

<script type="text/html" id="watchtableTmpl">
<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-heading">Watch</div>
    <div class="panel-body">
      <input class="btn btn-warning" type="button" value="Refresh" onclick="refreshWatch()">
    </div>
    <table class="table table-bordered" id="watchtable">
      <tr class="info"><td>Link</td><td>Cross</td><td>Vertical</td><td>Plint</td><td>Pair</td></tr>
    </table>
  </div>
</div>
</script>

<script type="text/html" id="EditFoundTmpl">
<div class="col-md-7">
  <div class="panel panel-primary">
    <div class="panel-heading"><%=header%><%=btnBack%></div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-2 control-label"><%=L._FIND_%></label>
          <div class="col-md-8"><input type="text" name="find" class="form-control" value="<%=search%>"></div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label"><%=L._REPLACE_%></label>
          <div class="col-md-8"><input type="text" name="replace" class="form-control" value="<%=search%>"></div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-2 col-md-8"><label>
            <input name="follow" type="checkbox" checked="checked"><%=L._FOLLOW_%>
          </label></div>
        </div>
        <%=btnOkCancel%>
      </form>
    </div>
    <table class="table table-bordered table-condensed" id="foundtable">
      <tr class="info">
      <th width="15%"><%=tbheaders[0]%></th>
      <th width="12%"><%=tbheaders[1]%></th>
      <th width="10%"><%=tbheaders[2]%></th>
      <th width="12%"><%=tbheaders[3]%></th>
      <th><%=L._TITLE_%></th>
      </tr>
    </table>
    <div class="panel-footer"><div class="myright"><%=L._FOUND_%><%=count%></div></div>
  </div>
</div>
</script>
